<div class="padding-container">
    <div class="card-container" *ngIf="false">
        <div class="empty-state-container">
            <img src="../../assets/img/nodataimg.png">
            <h2>Aquí verás tu selección</h2>
        </div>
    </div>
    <div class="card-container">
        <div class="information-container">
            <div class="header">
                <div class="header-border">
                    <span>A New Hope</span>
                </div>
            </div>
            <div class="important-information">
                <span>
          <strong>Director: </strong>George Lucas
        </span>
                <span>
          <strong>Created: </strong>2020/04/19
        </span>
                <span>
          <strong>Producer: </strong>George Lucas
        </span>
                <span>
          <strong>Episode: </strong>4
        </span>
            </div>
            <div class="description">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
        <div class="accordeon-container">
            <app-accordeon></app-accordeon>
        </div>
    </div>
</div>