<div class="submenu-container">
    <div class="search-container">
        <input type="text" class="input-search" placeholder="¿Deseas realizar una búsqueda?" [(ngModel)]="filterSubMenuItems" name="filterSubMenuItems">
    </div>
    <div class="list-container">
        <div class="item" [class.item-selected]="item === subMenuSelected" *ngFor="let item of subMenuItems.results | filter:filterSubMenuItems" (click)="selectMenu(item)">
            <div class="item-border">
                <span *ngIf="item.name">{{item.name}}</span>
                <span *ngIf="item.title">{{item.title}}</span>
                <i class="fas fa-caret-right"></i>
            </div>
        </div>
        <div class="item" *ngIf="subMenuItems.next && subMenuItems.count > subMenuItems.results.length" (click)="onSeeMore()">
            <div class="item-border">
                <span>See more...</span>
                <i class="fas fa-caret-right"></i>
            </div>
        </div>
    </div>
</div>