<div class="submenu-container">
  <div class="search-container">
    <input type="text" class="input-search" placeholder="¿Deseas realizar una búsqueda?">
  </div>
  <div class="list-container">
    <div class="item item-selected">
      <div class="item-border">
        <span>A New Hope</span>
        <i class="fas fa-caret-right"></i>
      </div>
    </div>
    <div class="item">
      <div class="item-border">
        <span>Tatoine</span>
      </div>
    </div>
    <div class="item">
      <div class="item-border">
        <span>Yavin IV</span>
      </div>
    </div>
    <div class="item">
      <div class="item-border">
        <span>La Ciudad Nube de Bespin</span>
      </div>
    </div>
  </div>
</div>
