<div class="menu-container">
  <div class="logo-container">
    <img src="../../assets/img/logo1.png">
  </div>
  <div class="list-container">
    <div class="item item-selected">
      <span>Peliculas</span>
    </div>
    <div class="item itempeople">
      <span>Personas</span>
    </div>
    <div class="item itemplanets">
      <span>Planetas</span>
    </div>
    <div class="item itemspects">
      <span>Especies</span>
    </div>
    <div class="item itemvehicles">
      <span>Vehiculos</span>
    </div>
    <div class="item itemstarships">
      <span>Naves</span>
    </div>

  </div>
</div>
