.mat-expansion-panel {
    background: #E22600 !important;
}

.mat-expansion-panel-content {
    background-color: #f7f7f7 !important;
    color: #000000 !important;
    background: #f7f7f7 !important;
}

.mat-expansion-panel-body {
    background-color: #f7f7f7 !important;
    color: #000000 !important;
}

